{{ post.total_likes }} LIKE{{ post.total_likes|pluralize }}
    {% if user.is_authenticated %}
        <form action="{% url 'like_post' %}" method="post">
            {% csrf_token %}
            {% if is_like %}
            <button type="submit" id="like" name="post_id" value="{{ post.id }}" class='btn btn-danger'>Dislike</button>
            {% else %}
            <button type="submit" id="like" name="post_id" value="{{ post.id }}" class='btn btn-primary'>Like</button>
            {% endif %}
        </form>
    {% endif %}